@font-face {
    font-family: 'Lato Light';
    src: url('./fonts/lato_light.eot');
    /* IE 9 Compatibility Mode */
    src: url('./fonts/lato_light.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('./fonts/lato_light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('./fonts/lato_light.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('./fonts/lato_light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('./fonts/lato_light.svg#lato_light') format('svg');
    /* Chrome < 4, Legacy iOS */
}

body {
    font-family: 'Lato Light', 'sans-serif';
    background-color: rgb(244, 254, 255);
}

h1 {
    color: rgb(189, 0, 0);
    text-align: center;
}

img.bigwood {
    width: 400px;
    display: block;
    margin: 5px auto 5px auto;
}